@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    height: 100vh;
    background-color: #10141e;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  .result {
    @apply p-4 mt-2 text-[15px] flex items-center gap-1 w-full text-gray-400 backdrop-filter bg-[#673981]/30 rounded-md hover:bg-opacity-70 hover:scale-105 cursor-pointer transition-all duration-300 ease-in-out;
  }
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  color: #673981;
}

.react-calendar {
  background-color: #10141e;
  border-radius: 10px;
}

.react-calendar__tile--range:focus {
  background-color: #673981 !important;
}

.react-calendar__tile--range:hover {
  background-color: #673981 !important;
}

.react-calendar__tile:disabled {
  background-color: #1f283c59 !important;
  color: rgba(120, 116, 116, 0.5);
}
.react-calendar__navigation button:disabled {
  background-color: #10141e59 !important;
}
